* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1.h2.h3.h4.h5.h6.p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

/* global starts */
:root {
    --cs-title: #ffe400;
    --cs-blue: #485fc7;
    --cs-green: #008582;
    --cs-card: #097c9d;
    --cs-review: #cc7900;
    --cs-white: #fff;
    --cs-black: #000;
}

h1 {
    font-size: 56px;
    margin-bottom: 16px;
    color: var(--cs-white);
    font-weight: 700;
}

p {
    font-size: 24px;
    margin-bottom: 12px;
    color: var(--cs-black);
}

h3 {
    font-size: 24px;
    margin-bottom: 12px;
    color: var(--cs-blue);
    font-weight: 700;
}

h2 {
    font-size: 40px;
    margin-bottom: 24px;
    color: var(--cs-black);
    font-weight: 700;
}

h4 {
    color: #a4b1ff;
    font-size: 16px;
    margin-top: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.yellow-text {
    color: var(--cs-title);
}

.yellowunder {
    background-color: var(--cs-title);
}

.light-blue {
    color: #2ef4ff;
}

.c-60 {
    padding: 60px 0px;
}

/* global ends */

/* header starts */
.header {
    background-color: var(--cs-green);
}

.navbar {
    padding: 0;
}

.navbar-brand {
    width: 180px;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--cs-white);
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--cs-white);
    background-color: #104D77;
}

.btn-headorder {
    padding: 0;
    padding: 10px 20px !important;
    background-color: #38a1aa;
    margin-left: 10px;
}

.btn-headorder:hover {
    background-color: #38a1aa !important;
}

/* header ends */

/* hero starts */
.hero {
    background: url(../images/mountain.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_content p {
    color: var(--cs-white);
    width: 60%;
    margin: auto;
}

.hero_image {
    width: 35%;
    margin: auto;
    padding: 30px 0px;
}

.fda {
    margin: auto;
    width: 40%;
    padding: 10px 0px;
}

/* hero ends */

/* about starts */
.about_title{
    padding-right: 20px;
}

.about_image img {
    /* height: 510px;
    width: 100%;
    object-fit: cover;
    object-position: top; */
    border-radius: 15px;
    box-shadow: 0px 0px 4px 1px #00000059;
}

.research {
    margin: 25px 0px;
    border: 1px solid var(--cs-title);
    padding: 30px;
    border-radius: 10px;
    background-color: #ffe4000f;
}

.research i {
    color: var(--cs-title);
}

.research p {
    font-size: 20px;
    font-weight: 600;
}

.referrence h4{
    color: #7a7a7a;
    margin-bottom: 0;
}

.referrence ul li a{
    color: #7a7a7a;
    transition: .2s all ease-in-out, .2s all ease-in-out;
}

.referrence ul li a:hover{
    padding-left: 3px;
}
/* about ends */

/* create starts */
.create{
    background-image: url(../images/mountain-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.create_content h3{
    color: var(--cs-white);
}

.create_content p{
    color: var(--cs-white);
}

.create_content img{
    width: 300px;
}